.center{
    display: block;
    text-align: center;
}

.red{
    color: red;
}

.yellow{
    background-color: yellow
}

.yellowblue{
    background-color: yellow;
    color: blue; 
}

span{
    background-color: yellow;
}

img{
    width: 100px ;
    height: 100px ;
}

li:nth-child(even) {
    background-color: lightblue;
}

a:hover {
    background-color: lightcoral;
}

nav {
    text-align: center;
}

body {
    background-color: lightsalmon;
}

a img {
    width: 50px;
    height: 25px;
    position: fixed;
    right: 0px;
}

a img:hover{
   /* animation-name: flag;
    animation-duration: 3s;*/
    animation: flag 3s forwards;
}

@keyframes flag{
    0%{top: 25px}
    100%{top: 50px;}
    
}