.center{
    display: block;
    text-align: center;
}

.red{
    color: red;
}

.yellow{
    background-color: yellow
}

.yellowblue{
    background-color: yellow;
    color: blue; 
}

span{
    background-color: yellow;
}

img{
    width: 10% ;
    height: 10% ;
}

li:nth-child(even) {
    background-color: lightblue;
}

a:hover {
    background-color: lightcoral;
}

nav {
    text-align: center;
}

body {
    background-color: lightsalmon;
}

a img {
    width: 50px;
    height: 25px;
    position: fixed;
    right: 0px;
}

button{
    border-radius: 100px;
}

div img{
    width: 100%;
    height: 50%;
}
.row{
    width: 400px;
    border: 15px solid rgb(231, 136, 99);
    background-color: rgb(231, 136, 99);
}

.box{
    display: flex;
    justify-content: space-around;
}

a img:hover
{
    animation: flag 3s forwards;
    
}

@keyframes flag
{
    0%{top: 25px}
    100%{top: 75px;}
}
