.center{
    display: block;
    text-align: center;
}

.red{
    color: red;
}

.yellow{
    background-color: yellow
}

.yellowblue{
    background-color: yellow;
    color: blue; 
}

span{
    background-color: yellow;
}

img{
    width: 100px ;
    height: 100px ;
}

li:nth-child(even) {
    background-color: lightblue;
}

a:hover {
    background-color: lightcoral;
}