section{
    position: fixed;
    background-color: yellow;
    width: 700px;
    height: 500;
    bottom: 0px;
    right: 0px;
}

.bigbox{
    position: absolute;
    background-color: blue;
    width: 200;
    height: 100;
}

.smallbox{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    bottom: 400px;
    right: 500px;
}